@import "profile/hero";
@import "profile/nav";
@import "profile/skills";
@import "profile/section-heading";
  
  .fresher-template1-main{
    position: relative;
}

.move-to-top {
   position: fixed;
   bottom: 6rem;
   right: 6rem;
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  background-color: blue;
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  cursor: pointer;
}

