.fresher-template1-heading {
  display: inline-block;
  width: 100%;
  padding: 5rem 10rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem auto;
  font-size: 5rem;
  position: relative;
  
  &__bar {
    margin: auto;
    width: 5rem;
    height: .4rem;
    background-color: blue;
    position: absolute;
    left: calc(50% - 2.5rem);
    z-index: 4;
    
    &--1{
      width: 10rem;
      height: .2rem;
      position: absolute;
      left: calc(50% - 5rem);
      border-bottom: .1rem solid grey;
      z-index: 2;
    }
  }
}