.u-center-text{
  text-align: center;
}

.u-margin-bottom-small{
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium{
  margin-bottom: 4rem;
}

.u-margin-bottom-big{
  margin-bottom: 8rem;
}

.u-fadeIn {
  animation: fadeIn 0.8s;
}

.u-fadeOut {
  animation: fadeOut 0.8s;
}

.u-wipeInLeft {
  animation: wipeInLeft 0.8s ease-in 2s;
}